### 1: Load Clean Data & Imports

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
from ydata_profiling import ProfileReport 
import warnings

# --- Setup ---
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
sns.set_style('whitegrid')
plt.rcParams['figure.figsize'] = (10, 6)

print("Libraries imported.")

# --- Load Processed Data ---

ROOT_DIR = os.path.abspath(os.path.join(os.getcwd(), '..'))
PROCESSED_DATA_DIR = os.path.join(ROOT_DIR, 'data', 'processed')

X_path = os.path.join(PROCESSED_DATA_DIR, 'X_cleaned.csv')
y_path = os.path.join(PROCESSED_DATA_DIR, 'y_target.csv')

print(f"Loading features from: {X_path}")
print(f"Loading target from: {y_path}")

try:
    # Load features, ensuring PROSPECTID is our index
    X = pd.read_csv(X_path, index_col='PROSPECTID')
    
    # Load target, set index, and use .squeeze() to turn it into a Series
    y = pd.read_csv(y_path, index_col='PROSPECTID').squeeze('columns')
    
    print("\n--- Data Loaded Successfully ---")
    
    # --- Verification Step ---
    print("\n--- X (Features) Info ---")
    X.info()
    
    print(f"\n--- y (Target) Imbalance (Finding 4) ---")
    print(y.value_counts(normalize=True).sort_index())

except FileNotFoundError as e:
    print(f"\n[ERROR] Files not found. Did you complete Phase 1?")
    print(e)

Libraries imported.
Loading features from: /Users/yogeshdhaliya/Desktop/DS Learning/11. Projects/Credit-Risk-Prediction/data/processed/X_cleaned.csv
Loading target from: /Users/yogeshdhaliya/Desktop/DS Learning/11. Projects/Credit-Risk-Prediction/data/processed/y_target.csv

--- Data Loaded Successfully ---

--- X (Features) Info ---
<class 'pandas.core.frame.DataFrame'>
Index: 51336 entries, 1 to 51336
Data columns (total 58 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tot_enq                     45015 non-null  float64
 1   CC_enq                      45015 non-null  float64
 2   CC_enq_L6m                  45015 non-null  float64
 3   CC_enq_L12m                 45015 non-null  float64
 4   PL_enq                      45015 non-null  float64
 5   PL_enq_L6m                  45015 non-null  float64
 6   PL_enq_L12m                 45015 non-null  float64
 7   time_since_recent_enq       45015 non-null  float64
 8   enq_L12m                    45015 non-null  float64
 9   enq_L6m                     45015 non-null  float64
 10  enq_L3m                     45015 non-null  float64
 11  MARITALSTATUS               51336 non-null  object
 12  EDUCATION                   51336 non-null  object
 13  AGE                         51336 non-null  int64
 14  GENDER                      51336 non-null  object
 15  NETMONTHLYINCOME            51336 non-null  int64
 16  Time_With_Curr_Empr         51336 non-null  int64
 17  pct_of_active_TLs_ever      51336 non-null  float64
 18  pct_opened_TLs_L6m_of_L12m  51336 non-null  float64
 19  pct_currentBal_all_TL       51264 non-null  float64
 20  CC_utilization              3700 non-null   float64
 21  CC_Flag                     51336 non-null  int64
 22  PL_utilization              6901 non-null   float64
 23  PL_Flag                     51336 non-null  int64
 24  pct_PL_enq_L6m_of_L12m      51336 non-null  float64
 25  pct_CC_enq_L6m_of_L12m      51336 non-null  float64
 26  pct_PL_enq_L6m_of_ever      51336 non-null  float64
 27  pct_CC_enq_L6m_of_ever      51336 non-null  float64
 28  max_unsec_exposure_inPct    28158 non-null  float64
 29  HL_Flag                     51336 non-null  int64
 30  GL_Flag                     51336 non-null  int64
 31  last_prod_enq2              51336 non-null  object
 32  first_prod_enq2             51336 non-null  object
 33  Total_TL                    51336 non-null  int64
 34  Tot_Closed_TL               51336 non-null  int64
 35  Tot_Active_TL               51336 non-null  int64
 36  Total_TL_opened_L6M         51336 non-null  int64
 37  Tot_TL_closed_L6M           51336 non-null  int64
 38  pct_tl_open_L6M             51336 non-null  float64
 39  pct_tl_closed_L6M           51336 non-null  float64
 40  pct_active_tl               51336 non-null  float64
 41  pct_closed_tl               51336 non-null  float64
 42  Total_TL_opened_L12M        51336 non-null  int64
 43  Tot_TL_closed_L12M          51336 non-null  int64
 44  pct_tl_open_L12M            51336 non-null  float64
 45  pct_tl_closed_L12M          51336 non-null  float64
 46  Tot_Missed_Pmnt             51336 non-null  int64
 47  Auto_TL                     51336 non-null  int64
 48  CC_TL                       51336 non-null  int64
 49  Consumer_TL                 51336 non-null  int64
 50  Gold_TL                     51336 non-null  int64
 51  Home_TL                     51336 non-null  int64
 52  PL_TL                       51336 non-null  int64
 53  Secured_TL                  51336 non-null  int64
 54  Unsecured_TL                51336 non-null  int64
 55  Other_TL                    51336 non-null  int64
 56  Age_Oldest_TL               51296 non-null  float64
 57  Age_Newest_TL               51296 non-null  float64
dtypes: float64(29), int64(24), object(5)
memory usage: 23.1+ MB

--- y (Target) Imbalance (Finding 4) ---
Approved_Flag
P1    0.113040
P2    0.627221
P3    0.145161
P4    0.114578
Name: proportion, dtype: float64

### 2: Full Data Profile

In [2]:
# --- 1. Combine X and y for Profiling ---
# The profiler works best when it can see features and target together
df_for_profiling = X.copy()
df_for_profiling[y.name] = y

print(f"Combined dataframe for profiling. Shape: {df_for_profiling.shape}")

# --- 2. Generate the Profile Report ---
profile = ProfileReport(
    df_for_profiling, 
    title="Credit Risk Data Profile (Phase 2)",
    explorative=True
)

# --- 3. Save Report to File ---
# We save to an HTML file in the *current* /notebooks folder.
# This avoids flooding the notebook with a huge output.
profile_path = os.path.join(os.getcwd(), 'credit_risk_profile.html')
profile.to_file(profile_path)

print(f"\n--- SUCCESS! ---")
print(f"Full data profile has been generated and saved to:")
print(f"{profile_path}")
print("\nPlease open this file in your browser to explore the data.")

Combined dataframe for profiling. Shape: (51336, 59)

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

--- SUCCESS! ---
Full data profile has been generated and saved to:
/Users/yogeshdhaliya/Desktop/DS Learning/11. Projects/Credit-Risk-Prediction/notebooks/credit_risk_profile.html

Please open this file in your browser to explore the data.

In [3]:
df_for_profiling.head()

,tot_enq,CC_enq,CC_enq_L6m,CC_enq_L12m,PL_enq,PL_enq_L6m,PL_enq_L12m,time_since_recent_enq,enq_L12m,enq_L6m,enq_L3m,MARITALSTATUS,EDUCATION,AGE,GENDER,NETMONTHLYINCOME,Time_With_Curr_Empr,pct_of_active_TLs_ever,pct_opened_TLs_L6m_of_L12m,pct_currentBal_all_TL,CC_utilization,CC_Flag,PL_utilization,PL_Flag,pct_PL_enq_L6m_of_L12m,pct_CC_enq_L6m_of_L12m,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,max_unsec_exposure_inPct,HL_Flag,GL_Flag,last_prod_enq2,first_prod_enq2,Total_TL,Tot_Closed_TL,Tot_Active_TL,Total_TL_opened_L6M,Tot_TL_closed_L6M,pct_tl_open_L6M,pct_tl_closed_L6M,pct_active_tl,pct_closed_tl,Total_TL_opened_L12M,Tot_TL_closed_L12M,pct_tl_open_L12M,pct_tl_closed_L12M,Tot_Missed_Pmnt,Auto_TL,CC_TL,Consumer_TL,Gold_TL,Home_TL,PL_TL,Secured_TL,Unsecured_TL,Other_TL,Age_Oldest_TL,Age_Newest_TL,Approved_Flag
PROSPECTID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,6.0,0.0,0.0,0.0,6.0,0.0,0.0,566.0,0.0,0.0,0.0,Married,12TH,48,M,51000,114,0.200,0.0,0.798,NaN,0,0.798,1,0.0,0.0,0.0,0.0,13.333,1,0,PL,PL,5,4,1,0,0,0.000,0.0,0.200,0.800,0,0,0.00,0.0,0,0,0,0,1,0,4,1,4,0,72.0,18.0,P2
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,209.0,1.0,0.0,0.0,Single,GRADUATE,23,F,19000,50,1.000,0.0,0.370,NaN,0,NaN,0,0.0,0.0,0.0,0.0,0.860,0,0,ConsumerLoan,ConsumerLoan,1,0,1,0,0,0.000,0.0,1.000,0.000,1,0,1.00,0.0,0,0,0,1,0,0,0,0,1,0,7.0,7.0,P2
3,4.0,0.0,0.0,0.0,0.0,0.0,0.0,587.0,0.0,0.0,0.0,Married,SSC,40,M,18,191,1.000,0.5,0.585,NaN,0,NaN,0,0.0,0.0,0.0,0.0,5741.667,1,0,ConsumerLoan,others,8,0,8,1,0,0.125,0.0,1.000,0.000,2,0,0.25,0.0,1,1,0,6,1,0,0,2,6,0,47.0,2.0,P2
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Married,SSC,34,M,10000,246,1.000,1.0,0.990,NaN,0,NaN,0,0.0,0.0,0.0,0.0,9.900,0,0,others,others,1,0,1,1,0,1.000,0.0,1.000,0.000,1,0,1.00,0.0,1,0,0,0,0,0,0,0,1,1,5.0,5.0,P2
5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3951.0,0.0,0.0,0.0,Married,POST-GRADUATE,48,M,15000,75,0.333,0.0,0.000,NaN,0,NaN,0,0.0,0.0,0.0,0.0,NaN,0,0,AL,AL,3,2,1,0,0,0.000,0.0,0.333,0.667,0,0,0.00,0.0,0,1,0,0,0,0,0,3,0,2,131.0,32.0,P1